.card {
    width: 950px;
    height: 250px;
    background-color: white; 
    border-radius: 14px;
    cursor: pointer;
    box-shadow: 0 0px 0px 0 rgba(80, 80, 80, 0.2);
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(80, 80, 80, 0.2);
    transition: all 0.15s ease-in-out;
}

.card-color {
    height: 42px;
    border-radius: 14px 14px 0px 0px;
    display: flex;
    padding: 10px;
}

.vueling{
    background-color: #FCDB00;
}
.aireuropa{
    background-color: #0672C9;
}
.ryanair{
    background-color: #22346B;
}
.iberia{
    background-color: #D7192C;
}
.bintercanarias{
    background-color: #3DAD2B;
}

.logo-container {
    width: 150px;
    height: 80px;
    margin-left: 10px;
}

.airline-logo {
    margin: auto ;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.card-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

.airline {
    margin: 0%;
}

.flight-info {
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}

.trip {
    margin-top: 8%;
    margin-left: 3%;
    margin-right: 3%;
}

.divider {
    border: 1px solid #E5E5E5;
    height: 18vh;
    margin: 0 -5%;
}

.actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 12%;
    margin: 2%;
}

.buttonSelect {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    background-color: #3182CE;
    padding: 0% 8%;
    border-radius: 4px;
    color: white;
    margin-top: -10%;
}


.form input {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    background-color: #3182CE;
    /* padding-right: 20%; */
    border-radius: 4px;
    color: white;
    margin-top: -10%;
}

.left-content {

}