.container {
    width: 60vw;
    font-family: 'Cabin', sans-serif;
}

/*.flight-summary {
    width: 100%;
    height: 105px;
    background-color: #17385C;
    border-radius: 0 0 15px 15px;
    color: #FFFFFF;
    font-size: 16px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
}

.destination{
    z-index: 2;
    margin: 2px auto;
}

.flight-params{
    margin: 2px auto;
    z-index: 2;
    color: rgb(226, 226, 226);
    font-size:12px;
}

.passangers-logo {
    z-index: 2;
    font-size: 2px;
}

.triangle {
    width: 115px;
    height: 125px;
    border-radius: 20px;
    background-color: #17385C;
    transform: rotate(45deg);
    margin: -110px auto 20px auto;
    z-index: 0;
    transform: scale(2, 0.5);
}*/

.date {
    font-size: 12px;
    color: gray;
    margin-left: 10px;
}

.selected-flight {
    margin: 50px 0;
}

.flight-direction {
    font-size: 24px;
}

.flight {
    width: 100%;
    height: 100px;
    background-color: rgba(224, 224, 224, 0.26);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
}

.book-btn {
    color: white;
    background-color: #16A086;
    border-radius: 4px;
    padding: 10px 22px;
    outline: none;
    border: none;
    font-size: 14px;
}

.search-btn {
    color: #0770E3;
    border: 1px solid #0770E3;
    background: transparent;
    border-radius: 4px;
    padding: 10px 22px;
    outline: none;
    font-size: 14px;
}