.modal-edit-container{
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}
.modal-edit {
    position: relative;
    color: black;
    background-color: white;
    padding: 0px;
    border-radius: 5px;
    padding: 30px;
}
.close{
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
}

.bottom-modal{
    padding: 30px;
}
.edit-info{
    font-size: 17px;
    text-align: center;
    font-family: inherit;
}

.button-save-remove{
    display: block;
    margin: 0 auto;

    background-color: #00a698;
      color: white;
      font-size: 16px;
      padding: 10px 25px;
      border-radius: 3px;
      transition-duration: 0.4s;
      font-family: inherit;
      font-weight: 700;
      margin-bottom: 10px;
}
.buttons-options{
    display: block;
}
.input-edit{
    padding: 10px;
    max-width: 500px;
    width: 100%
}
.bottom-modal-remove{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;
    border-bottom: 1px solid #dddde5;
    flex-direction: column;
}
