.wrapper-profile-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
}

.user-icon {
  height: 100%;
  width: 60px;
}

.profile-text {
  text-align: left;
}

.profile-text span {
  color: rgb(37, 37, 37);
  font-weight: bold;
}

.profile-text p {
  font-size: 20px;
  color: grey;
  margin-top: 0;
}

.list {
  width: 100%;
}

.option {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1.2px solid rgb(212, 212, 212);
  cursor: pointer;
  font-size: 18px;
  padding: 8px 0;
}

.option:first-child {
  border-top: 1.5px solid rgb(57, 98, 170);
  margin-top: 20px;
}

.option-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 5px;
  color: rgb(38, 70, 124);
  width: 100%;
  height: 40px;
}

.option-info:hover {
  background-color: rgba(49, 83, 143, 0.2);
  color: rgb(38, 70, 124);
  transition: .5s;
}

.option-info:active {
  background-color: rgba(49, 84, 143, 0.7);
  transition: .5s;
}

.option-info-selected {
  background-color: rgba(49, 84, 143, 0.9);
  color: white;
}

.option-info p {
  text-align: left;
}

.option-logo {
  display: flex;
  justify-content:center;
  align-content: center;
  width: 40px;
  height: 20px;
  margin: 0;
}

.option-arrow {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  margin-right: 10px;
  flex-grow: 1;
}

.travel-div {
  width: 100%;
  margin-top: 20px;
  margin: 20px auto 0 auto;
}

.travel {
  height: 185px;
  margin: 0 auto;
}

.button-profile {
  background-color: transparent;
  color: rgb(168, 49, 49);
  border: 1px solid rgb(168, 49, 49);
  border-radius: 10px;
  font-size: 16px;
  padding: 10px 30px;
  transition-duration: 0.4s;
  font-family: inherit;
  font-weight: 500;
  margin: 20px auto;
  float: right;
}

.button-profile:hover{
  background-color: rgb(168, 49, 49);
  color: white;
  cursor: pointer;
}
