.form-box {
    background: #17385C;
    height: 151px;
    width: 842px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-radius: 12px;
}

.form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    margin-left: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;  
}

.form input {
    margin: 5px;
}

.form div {
    display: flex;
    flex-direction: column;
    float:left;

}

.form-enviar > input {
    background-color: #3182CE !important;
    color: white !important;
    border: none !important;
    width: 138px;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 4px;
}