.card-total{
    width:839px;
    height: 150px;
    background-color: white; 
    border-radius: 14px;
    margin: 0%;
}

.yellow{
    background-color:#FBE666;
    height: 42px;
    border-radius: 12px 12px 0px 0px;
    display: flex;
    padding: 10px;
}

.white-zone{
    display: flex;
    justify-content: space-between;
}
.name-result{
    padding: 30px;
}
.airline-yellow{
    display: contents;
    
}