.total-result{
    background-color: #17385C;
    Width: 842px;
    Height: 70px;
    margin-left: 320px;
    margin-top: 60px;
}
.example{
    color:white;
    text-align: center;
    align-content: center;
}