.total-result{
    background-color: #17385C;
    Width: 830px;
    Height: 80px;
    margin-left: 510px;
    margin-top: 90px;
    border-radius: 12px;
}
.example{
    color:white;
    text-align: center;
    align-content: center;
}