.login-container {
    min-width: 100vw;
    min-height: 90.7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-image: url("../../images/login-bg.jpg");
}

.overlay{
    position: absolute;
    min-width: 100%;
    min-height: 90.7vh;
    background-color: rgba(168, 168, 168, 0.4);
    z-index: 1;
}

.login-title {
    font-family: 'Cabin', sans-serif;
    color: #3182CE;
    margin: auto;
    text-align: center;
    font-size: 36px;
    z-index: 2;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: auto;
    min-width: 500px;
    min-height: 300px;
    padding: 20px 15px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 20px;
    z-index: 2;
}

.login-form p{
    font-size: 12px;
    display: flex;
    margin:auto
}

.login-form a{
    margin-left: 3px;
}

.login-options {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 5px auto auto;
    padding: 20px 25px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 20px;
    z-index: 2;
}

svg {
    margin: 5px auto;
    width: 300px;
}