.footer {
    width: 100vw;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
}

.footer-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.footer-links{
    display: flex;
    justify-content: space-around;
    width: 20%;
    margin: 10px auto;
}

.footer-text {
    color: gray;
    font-size: 16px;
    font-weight: 400;
    width: 50%;
    margin: 20px auto;
    margin-bottom: 5px;
    text-align: center;
}

.footer-social-media {
    display: flex;
    justify-content: space-around;
    width: 20%;
    margin: 30px auto;
}
