.filters {
    color: #17385C;
    font-family: "Cabin", sans-serif;
}

.filter {
    margin: 30px 0;
}

.filter-title {
    margin: 2px;
    font-size: 24px;
    font-weight: 900;
}

.filter-subtitle {
    margin: 2px;
    font-size: 16px;
    color: #1a4169;
    font-weight: 200;
}

.hour-select {
    font-size: 16px;
    margin-top: 10px; 
}

.airline-checkbox {
    font-size: 16px;
    margin-left: 5px;;
}