
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
<<<<<<< HEAD
  background-color: #ffffff;
  min-height: 100vh;
=======
  min-height: 80px;
  min-width: 100%;
  
>>>>>>> f4b36303 (add loginform and navigation bar)
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000000;
  margin: 0 auto;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
