.wrapper {
    width: 100vw;
    font-family: 'Cabin', sans-serif;
}

.results-page {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.right-section {
    display: flex;
    flex-direction: column;
}

.no-results {
    width: 800px;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.no-results > h5 {
    color: gray;
}

.no-results p {
    cursor: pointer;
}

.no-results-logo {
    margin: 0px;
    width: 300px;
    margin-top: 50px;
}

.results-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}


.results-cards {
    display: flex;
    flex-direction: column;

}

.publi {
    width: 20%;
}